/*-------------------------------------|
|       HEADER DU SITE                 |
|--------------------------------------*/

// Layout du header et de ses parties haute et basse (logique mobile first)
//Imbrication à 100% (full nested)
body .conteneur #header {
    /*width: span(4 of $mobilecol);*/
    @include breakpoint(($desktop,$desktopwide)){
        z-index : 30;
        width: span(10 of $desktopcol);
        margin-left: span(1 wide);//push
    }
    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
        z-index : 30;
        width: auto;
        margin-left: 0;
    }
    &:after{
        content: " ";
        display: block;
        clear: both;
      }
    .headHaut, .headBas {

        @include clearfixsusy3;//Dispo sur tous supports
        .logoHead, .site-logo {
            padding: span(1) 0 0;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                padding: 0;
                float: left;
            }
            img{
                margin: 0 auto;
                @include adaptable-img();
                @include breakpoint(($mobile)){
                  transform: scale(0.75);
                }
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    display: block;//commenter si logo pas collé à gauche
                    max-height: 9em;//si logo trop gros
                    padding: 0;
                    margin: 0;
                    max-width: 30%;//pour déplacer le logo à gauche
                    object-fit: contain;
                    transform: scale(0.75);
                }

            }
        }
        .site-slogan,.objectif{
            //Voir plus bas
        }
        nav.menuOver{
    margin: 0 span(0.3) 0 0;
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        margin: 0;
    }
}
    }
}




.headBas {

    @include clearfixsusy3;//Dispo sur tous supports
    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
        margin: 0 0 em(10px) 0;
      }
    .site-slogan,.objectif{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: em(5px) 0 0 0 //Ajoute un padding pour positionner boite
        }
    }
    .headSearch{
        margin: 0 30%;
        padding: 0;
        @include breakpoint(($desktop,$desktopwide)){
            width: span(2.5);
            margin: 0 span(0.2);
            float: right;
            padding: em(5px) 0 em(10px) 0; //Ajoute un padding pour positionner boite de recherche

            .form-item{
              float: left;
              padding: 0 em(30px) 0 0;
            }
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
            padding: em(5px) 0 0 0; //Ajoute un padding pour positionner boite de recherche
            margin: 0 0 span(0.2) span(4);
            float: none;
            .form-item{
              float: left;
              padding: 0 em(30px) 0 0;
            }
        }

    }

}




/*---- HEADER HAUT ----*/


/*---- HEADER BAS ----*/

.headBas {
    background: $gris-anthracite;//Modifier la couleur du fond de la partie basse selon couleur du lycée
}

.headSearch {
    //background: transparent url("../images/'bg_recherche.gif') no-repeat scroll 6em em(7px);
    /*.form-item > label{color: #DDD;font-family: $AristaFont;font-size: medium;}*/
    input[type=image]{
        vertical-align: middle;
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        //padding: 0;
    }
}



.name-and-slogan {
    vertical-align: bottom;
}

.site-name {
    clear: both;
    background: $gris-anthracite;
   padding: span(0.01) 0 0 span(0.1);
    a {
        text-decoration: none;
        color: white;
        text-transform: initial;
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        text-align: left;
        padding: em(3px) 0 0 span(0.1);
    }
    }
    padding: 0;
    margin: 0;
}

.site-slogan,.objectif {
    color: white;
    font-size: small;
    text-align: center;
    background: $gris-anthracite;
    clear: both;

    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        text-align: left;
        padding: span(0.01) 0 0 span(0.1);
    }
    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
}

/*FIN CSS HEADER*/
/*****************/
