{# Create classes array. The 'node' class is required for contextual edit links.
Permet d'ajouter des classes dynamiques ou non aux éléments du markup
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class

] %}
{% set titre_attribute = create_attribute() %}
{% set taxo_attribute = create_attribute() %}
{% set image_attribute = create_attribute() %}
{% set imagecontainer_attribute = create_attribute() %}

{% set zone1_attribute = create_attribute() %}
{% set zone2_attribute = create_attribute() %}
{% set zone3_attribute = create_attribute() %}
{% set zone4_attribute = create_attribute() %}

{% set vuebloc_attribute = create_attribute() %}
{% set vueblocgalerie_attribute = create_attribute() %}
{% set texteDossier_attribute = create_attribute() %}
{% set fichierDossier_attribute = create_attribute() %}
{% set centreBTS_attribute = create_attribute() %}
{% set insererListe_attribute = create_attribute() %}
{% set corps2_attributes = create_attribute() %}

{% set titre_classes = [
'titre_overlay',
'titre_page',
'titre-' ~ node.bundle|clean_class
]%}

{% set image_classes = [
'illustration-bts',
'illustration-'~ node.bundle|clean_class,
'image--type-' ~ node.bundle|clean_class
]%}
{% set imagecontainer_classes = [
'imagecontainer',
'type-' ~ node.bundle|clean_class
]
%}
{% set imagecontainer_ids = [
'zone-illustration',

]%}
{% set texteDossier_classes = [
'',
'label-' ~ node.field_txt_dossier.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set fichierDossier_classes = [
'DossierBTS',
'label-' ~ node.field_dossier_bts.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set centreBTS_classes = [
'centres-bts',
'label-' ~ node.field_centres_bts.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set insererListe_classes = [
'liste-bts-visuelle',
'label-' ~ node.field_inserer_liste_viewfield.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set corps2_classes = [
'content2-bts',
'label-' ~ node.field_corps2_page_bts.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
content2-bts
{# 'zone1_layout_9_3',#}
{% set zone1_classes = [
'zone_layout_max_centre',

'type-' ~ node.bundle|clean_class
]
%}
{% set zone2_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{#'zone2_layout_9_3',#}
{% set zone3_classes = [
'zone1_layout_8_4',
'type-' ~ node.bundle|clean_class
]%}
{% set zone4_classes = [
'zone2_layout_8_4',
'type-' ~ node.bundle|clean_class
]%}
{% set vueblocgalerie_classes = [
'galerie',
'type-' ~ node.bundle|clean_class
]%}
{% set vuebloc_classes = [
'liste-incluse',
'type-' ~ node.bundle|clean_class
]%}
{% set insererform_classes = [
'formulaire',
'type-' ~ node.bundle|clean_class
]%}
{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}
{# Template pour formulaire pour postuler à 1 offre de poste d'enseignement #}
<!--______________NODE TPL POUR WEBFORM.TPL CUSTOM ________________ -->
<article{{ attributes.addclass(classes).setattribute('id', 'node-'~node.id) }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="submitted">
          {{ author_picture }}
          {% trans %}Submitted by
          {{ author_name }}
          on
          {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endif %}

      {% if not node.published %}
        <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    </header>
  {% endif %}

  <!--______________ ILLUSTRATION et TITRE ________________ -->
  <div {{ imagecontainer_attribute.addClass(imagecontainer_classes).setAttribute('id', imagecontainer_ids) }}>

    {% set image_deco = content.field_illus_administratif | render | trim %}
    {% if image_deco or node.label is not empty %}
      <div {{image_attribute.setAttribute('id', 'illustration-pleinepage').addClass(image_classes) }}>
        <h1 {{ titre_attribute.addClass(titre_classes) }}>{{node.label}}</h1>
        {{ content.field_illus_administratif.0}}
      </div>
    {% endif %}
  </div>
  <!-- /zone-illustration -->

  <!--______________ZONE 1________________ -->
  <div {{ zone1_attribute.addClass(zone1_classes).setAttribute('id', 'zone-1') }}>

    <div{{ content_attributes.addclass('content') }}>

      {{ content.body }}
      <a href="javascript:history.back();" class="retour-liste">
        {# Afficher du HTML brut ou avec balise #}
        {{ "<< Retour au détail de l'offre"|raw }}
      </a>

      {% if node.field_inserer_un_formulaire is not empty %}
        <aside {{ vuebloc_attribute.addClass(vuebloc_classes) }}>
          {{ content.field_inserer_un_formulaire.0 }}
        </aside>
      {% endif %}

    </div>
    <!-- /.content -->

  </div>
  {% include directory ~ '/includes/regions_inc/inc_region_zone_1.html.twig' %}
  <!-- /zone-1-->

</article>
<!-- /.node -->