{#
/*
 * Permet de créer une region dans les node.tpl
 * <p>LA REGION EXISTE</p>
 */
IMPORTANT: respecter la casse !! le nom de la région doit être identique dans le fichier
.theme

#}
{% set noderegion_attribute = create_attribute() %}
{% set noderegion_classes = [
'region-zone-1',
'type-' ~ node.bundle|clean_class
]
%}

{% if region_Zone_1 is not empty %}
  <div {{ nodenoderegion_attribute.addClass(noderegion_classes).setAttribute('id', 'region-zone-1') }}>
    {{ region_Zone_1 }}
    <!-- /#region-zone_1 -->
  {% endif %}