{#
/* 03/2019 Liste les fichiers uploadés par
  * filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides
#}

{# ---*** Les classes à appliquer aux éléments  ***--- #}
{% set champVideo1_attribute = create_attribute() %}
{% set champVideo2_attribute = create_attribute() %}
{% set champVideo3_attribute = create_attribute() %}
{% set champLien_attribute = create_attribute() %}

{% set champVideo1_classes = [
'video',
'champ-' ~ node.field_video_externe.fieldDefinition.name | replace({"_" : "-"}),
'titre-' ~ node.bundle|clean_class
]%}
{% set champVideo2_classes = [
'video-vdl',
'label-' ~ node.field_video_vdl.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set champVideo3_classes = [
'video-externe',
'label-' ~ node.field_video_externe2.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set champLien_classes = [
'label-' ~ node.field_lien_internet_rp.fieldDefinition.name | replace({"_" : "-"}),
]%}
{# ---*** Le contenu de l'include ***--- #}
{% if node.field_video_vdl.value or node.field_video_externe.value is not empty %}
  <div class="videos">

    <ul>

      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, video in node.field_video_externe %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_video_externe.value is not empty %}
          <li {{ champVideo1_attribute.addClass(champVideo1_classes) }}>
            {{ content.field_video_externe[key] }}
          </li>
        {% endif %}
      {% endfor %}

      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, video in node.field_video_vdl %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_video_vdl.value is not empty %}
          <li {{ champVideo2_attribute.addClass(champVideo2_classes) }}>
            {{ content.field_video_vdl[key] }}
          </li>
        {% endif %}
      {% endfor %}

    </ul>

  </div>
{% endif %}
{# / endif pour bloc #}