{# ---*** Les classes à appliquer aux éléments  ***--- #}
{% set lieuxPosteEnseignement_attribute = create_attribute() %}
{% set referencePosteEnseignement_attribute = create_attribute() %}
{% set disciplinePosteEnseignement_attribute = create_attribute() %}
{% set volhorairePosteEnseignement_attribute = create_attribute() %}
{% set element_attribute = create_attribute() %}

{% set element_classes = [
'type-poste-enseignement',
]%}
{% set lieuxPosteEnseignement_classes = [
'champ-' ~ node.field_lieux_possibles_pour_la_fo.fieldDefinition.name | replace({"_" : "-"}),
'titre-' ~ node.bundle|clean_class
]%}
{% set referencePosteEnseignement_classes = [
'label-' ~ node.field_reference_taxo.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set disciplinePosteEnseignement_classes = [
'label-' ~ node.field_disciplines.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set volhorairePosteEnseignement_classes = [
'label-' ~ node.field_vol_heures.fieldDefinition.name | replace({"_" : "-"}),
]%}

{# Affichage conditionnel du tableau des informations #}
{% if (content.field_disciplines | render is not empty) 
  or(content.field_reference_taxo | render is not empty)
or(content.field_vol_heures | render is not empty)
or(content.field_reference_taxo | render is not empty) %}
  <table {{ element_attribute.addClass(element_classes) }}>
    <tbody>

      {# Affichage conditionnel du contenu si champ rempli #}
      {% if content.field_reference_taxo | render is not empty %}
        <tr class="line1">
          <td>
            {{ content.field_reference_taxo|field_label}}
          </td>
          <td {{referencePosteEnseignement_attribute.addclass(referencePosteEnseignement_classes) }}>
            {{ content.field_reference_taxo.0 }}
          </td>
        </tr>
      {% endif %}

      {% if content.field_lieux_possibles_pour_la_fo | render is not empty %}
        <tr class="line2">
          <td {{lieuxPosteEnseignement_attribute.addclass(lieuxPosteEnseignement_classes) }}>
            {{ content.field_lieux_possibles_pour_la_fo|field_label}}
          </td>
          <td {{lieuxPosteEnseignement_attribute.addclass(lieuxPosteEnseignement_classes) }}>
            {# Liste des lieux du poste -
          Vérifie si la vue a des résultats avant de l'afficher
          Renseigner le nom de la vue et l'affichage désiré (noms machines)
          #}
            {% set view = drupal_view_result('liste_elements_2022', 'block_3') | length %}
            {% if view > 0 %}
              {{ drupal_view('liste_elements_2022', 'block_3') }}
            {% endif %}
          </td>
        </tr>
      {% endif %}

      {# Affichage conditionnel du contenu si champ rempli #}
      {% if content.field_disciplines | render is not empty %}
        <tr class="line1">

          <td {{disciplinePosteEnseignement_attribute.addclass(disciplinePosteEnseignement_classes) }}>
            {{ content.field_disciplines|field_label}}
          </td>
          <td {{disciplinePosteEnseignement_attribute.addclass(disciplinePosteEnseignement_classes) }}>
            {{ content.field_disciplines.0 }}
          </td>
        </tr>
      {% endif %}

      {# Affichage conditionnel du contenu si champ rempli #}
      {% if content.field_vol_heures | render is not empty %}
        <tr class="line2">

          <td>
            {{ content.field_vol_heures[0]['#title']|clean_class | replace({"^" : ""}) }}
            {{ content.field_vol_heures|field_label}}
          </td>
          <td {{volhorairePosteEnseignement_attribute.addclass(volhorairePosteEnseignement_classes) }}>
            {{ content.field_vol_heures.0 }}
            {{ 'H' | raw }}
          </td>
        </tr>
      {% endif %}

      <tr class="line2">
        <td>
          {{ "Postuler à l'offre" | raw}}
        </td>
        <td>
          <a href=/node/573?destinataire='&ref_offre=' {{ content.field_reference_taxo.value }} '&disc_offre=tid_' {{ content.field_disciplines.id.value }}>ICI</a>
        </td>

      </tr>

    </tbody>
  </table>
{% endif %}